﻿@page
@model GestionRestaurant.Pages.Administration.IndexModel

@{
    ViewData["Title"] = "Tableau de bord";
    ViewData["parallax-src"] = "/images/blog_1.jpg";
    ViewData["home-title"] = "Tableau de bord";
}

<h2>Commandes en cours</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commandes.First().État)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commandes.First().MomentCommandé)
            </th>
            <th>
                Livreur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Commandes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.État)
                </td>
                <td>
                    @item.MomentCommandé.ToString("HH:mm")
                </td>
                <td>
                    @item.Livreur?.Nom
                </td>
                <td>
                    @if (item.État != Models.ÉtatCommande.Complété)
                    {
                        <a asp-page="../Commandes/Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Ventes</h1>
        <p class="lead">@Model.NombreLivraisons livraison(s) pour @Model.RecettesQuotidiennes $</p>
    </div>
</div>


<h2>Livreurs actifs</h2>
<div class="row">
    @foreach (var livreur in Model.Livreurs)
    {
        <div class="col-sm-4">
            <div class="card">

                <div class="card-body">
                    <h3 class="card-title">@livreur.Livreur.Nom</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">En cours: @livreur.QuantitéEnCours</li>
                        <li class="list-group-item">En retard: @livreur.QuantitéEnRetard</li>
                        <li class="list-group-item">À temps: @livreur.QuantitéÀTemps</li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
