﻿@model Models.ItemMenu
<div class="card menu-item">
    <partial name="_MenuItemCard" model="@Model" />
    <div class="card-footer">
        <form method="post" asp-page="Paniers/Ajouter">
            <input type="hidden" name="item" value="@Model.Id" />
            <button class="btn btn-primary ml-auto">Ajouter au panier</button>
        </form>
    </div>
</div>
