﻿@page
@model GestionRestaurant.Pages.Livreurs.EditModel

@{
    ViewData["Title"] = "Modification d'un livreur";
    ViewData["parallax-src"] = "/images/blog_4.jpg";
    ViewData["home-title"] = @Model.Livreur.Nom;
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Livreur.Id" />
            <div class="form-group">
                <label asp-for="Livreur.Nom" class="control-label"></label>
                <input asp-for="Livreur.Nom" class="form-control" />
                <span asp-validation-for="Livreur.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livreur.Téléphone" class="control-label"></label>
                <input asp-for="Livreur.Téléphone" class="form-control" />
                <span asp-validation-for="Livreur.Téléphone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Livreur.Désactivé" /> @Html.DisplayNameFor(model => model.Livreur.Désactivé)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
