﻿@page
@model GestionRestaurant.Pages.Paniers.IndexModel
@{
    ViewData["Title"] = "Panier";
    ViewData["parallax-src"] = "/images/home.jpg";
    ViewData["home-title"] = "Commande";
}

@section Styles {
    <link rel="stylesheet" href="~/css/panier.css" />
}


@if (!Model.Panier.Items.Any())
{
    <h2>Votre panier est vide.</h2>
    <a asp-page="../Index" class="btn">Retour à l'accueil</a>
}
else
{
    <a asp-page="../Index" class="btn">Ajouter d'autre items</a>
    <form method="post">
        <div class="row">
            @foreach (var item in Model.Panier.Items)
            {
                <div class="col-sm-4">
                    <partial name="_CommandeItem" model="@item" />
                </div>
            }
        </div>
        <div class="row">
            <h4 class="ml-auto">Total: @Model.Panier.Total</h4>
        </div>
        <div class="row">
            <button class="ml-auto btn">Rafraichir</button>
            <button class="btn btn-primary" asp-page-handler="Commander">Passer la commande</button>
        </div>
    </form>

}
