﻿@page
@model GestionRestaurant.Pages.Menu.CreateModel

@{
    ViewData["Title"] = "Nouvel item";
    ViewData["parallax-src"] = "/images/blog_2.jpg";
    ViewData["home-title"] = "Nouvel item";
}

@section Styles {
    <link rel="stylesheet" href="~/css/menu.css" />
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Nom" class="control-label"></label>
                <input asp-for="Item.Nom" class="form-control" />
                <span asp-validation-for="Item.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <textarea asp-for="Item.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Prix" class="control-label"></label>
                <input asp-for="Item.Prix" class="form-control" />
                <span asp-validation-for="Item.Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Catégorie" class="control-label"></label>
                <select asp-for="Item.Catégorie" class="form-control" asp-items="Model.Catégories"></select>
                <span asp-validation-for="Item.Catégorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control-file" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Item.Actif" value="True" />
            @*<div class="form-group">
                <label class="control-label">État</label>
                <select asp-for="Item.Actif" class="form-control">
                    <option value="True">Actif</option>
                    <option value="false">Inactif</option>
                </select>
                <span asp-validation-for="Item.Actif" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
