﻿@page
@model GestionRestaurant.Pages.Commandes.EditModel

@{
    ViewData["Title"] = "Commande";
    ViewData["parallax-src"] = "/images/blog_3.jpg";
    ViewData["home-title"] = "Modification de la commande";
}


<hr />


<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Commande.Id" />
            <input type="hidden" asp-for="Commande.ClientId" />
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="@Model.Commande.État"></label>
                <div class="col-sm-8 form-control-plaintext">@Html.DisplayFor(_ => _.Commande.État)</div>
            </div>

            @if (Model.Commande.État == Models.ÉtatCommande.Complété)
            {
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="@Model.Commande.MomentLivré"></label>
                    <div class="col-sm-8 form-control-plaintext">@Html.DisplayFor(_ => _.Commande.MomentLivré)</div>
                </div>

            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" asp-for="@Model.Commande.MomentLivraisonEstimé"></label>
                    <div class="col-sm-8 form-control-plaintext">@Html.DisplayFor(_ => _.Commande.MomentLivraisonEstimé)</div>
                </div>
            }
            <div class="form-group row">
                <label asp-for="Commande.Livreur" class="col-form-label col-sm-4"></label>
                <select asp-for="Commande.LivreurId" class="col-sm-8 form-control" asp-items="Model.Livreurs">
                    <option value="">Sélectionnez un livreur</option>
                </select>
                <span asp-validation-for="Commande.État" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<h4>Items</h4>
<ul class="list-group">
    @foreach (var item in Model.Commande.Items)
    {
        <li class="list-group-item">@item.Quantité&nbsp;&nbsp;&nbsp;@item.Item.Nom</li>
    }
</ul>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
